{% extends 'base.html.twig' %}

{% block title %}{{ manufacturer.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-3">
            <h1 class="w-100 text-center display-1">{{ manufacturer.name }}</h1>
        </div>
        <div class="row my-3 px-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Generation</td>
                    <td>Manufactured</td>
                    <td>Driven axle</td>
                    <td>Seat count</td>
                </tr>
                </thead>
                <tbody>
                {% for car in manufacturer.cars %}
                    <tr data-href="{{ path('details.car', {'id': car.id}) }}">
                        <td>{{ car.name }}</td>
                        <td>{% if car.generation %}{{ car.generation }}{% endif %}</td>
                        <td>{{ car.manufactured }}</td>
                        <td>{{ car.drivenAxle }}</td>
                        <td>{{ car.seatCount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}